<div class="top">
    <div class="header__wrapper bgcolor__header">
        <div class="divider">
            <div class="lmr">
                <h2 class="title">{{ section.title }}</h2>
            </div>
        </div>
    </div>

    <div class="header__wrapper bgcolor__breadcrumb">
        <div class="divider">
            <div class="lmr flexbox">
                {% if config.extrac.enablebreadcrumb %}
                    {# partial "main/component/breadcrumb.html" #}
                {% endif %}
                <div class="grow"></div>
                {# partial "main/component/edit-this-page.html" #}
            </div>
        </div>
    </div>
</div>