$enable-navbar: true;

$title-font: sans-serif;;
$content-font: sans-serif;

$dark-active-font-color: rgb(252, 252, 250);
$dark-link-color: rgb(66, 66, 66);
$dark-link-hover-color: rgb(66, 66, 66);
$dark-nav-logo-color: rgb(66, 66, 66);
$dark-nav-menu-color: rgb(252, 252, 250);
$dark-nav-icon-color: rgb(252, 252, 250);

$light-active-font-color: rgb(66, 66, 66);
$light-link-color: #00acd7;
$light-link-hover-color: #00acd7;
$light-nav-logo-color: rgb(66, 66, 66);
$light-nav-menu-color: #007d9c;
$light-nav-icon-color: rgb(66, 66, 66);

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/flexbox';

@import 'syntax/syntax';

@import 'base/reset';
@import 'base/fonts';
@import 'base/helpers';
@import 'base/typography';
@import 'base/animation';

@import 'components/menu';
@import 'components/toc';
@import 'components/search';
@import 'components/dropdown';
@import 'components/drawer';
@import 'components/modal';
@import 'components/language';
@import 'components/breadcrumb';
@import 'components/pagination';
@import 'components/button';
@import 'components/summary';
@import 'components/expand';
@import 'components/bgcolor';
@import 'components/tag';
@import 'components/section';
@import 'components/lib';
@import 'components/switch';
@import 'components/notice';
@import 'components/alert';

@import 'layout/grid';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';
@import 'layout/navbar';

@import 'pages/home';
@import 'pages/single';
@import 'pages/list';
@import 'pages/blog';