{#
<div class="mid">
  <div class="divider">
    
    <nav id="single-menu" class="l" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
      {{ if $.Param "enableMenu" }}
        {{ partial "main/sections/single-menu.html" . }}
      {{ end }}
    </nav>

    <article id="list-main" class="m" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
      {{ partial "main/component/toggle-sidebar.html" . }}
      {{ partial "main/sections/list-main.html" . }}
      {{ partial "main/component/pagination-single.html" . }}
      {{ partial "comments/comments.html" . }}
    </article>
    
    <section id="list-side" class="r" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
      {{ if $.Param "enableToc" }}
        {{ partial "main/component/toc.html" . }}
      {{ endif }}
    </section>

  </div>
</div>
#}

{#{{ partial "script/single-script.html" . }} #}
