{#
{{ $current := . }}
{{ range .Site.Menus.main }}
  {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
  {{ $active = or $active (eq .Name $current.Title) }}
  {{ $active = or $active (eq (lower .URL) (lower $current.Title)) }}
  {{ $active = or $active (eq (lower .URL) (lower $current.Type)) }}
  <li class="navbar__menu--mobile-item {{ if $active }}active{{ end }}">
    <a href="{{ .URL | relLangURL | safeURL }}" class="{{ if $active }}active{{ end }}">{{ safeHTML .Name }}</a>
  </li>
{{ end }}

#}