{#
{{ $current := . }}
{{ range .Site.Menus.main }}
  {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
  {{ $active = or $active (eq .Name $current.Title) }}
  {{ $active = or $active (eq (lower .URL) (lower $current.Title)) }}
  {{ $active = or $active (eq (lower .URL) (lower $current.Type)) }}
  #}

  {% for entry in config.extra.menu %}
  <li class="navbar__menu--item active">
      <a href={{entry.1}} data-bgimg="false">{{entry.0}}</a>
  </li>
  {% endfor %}

{#
{{ end }}
#}