<div class="single" data-display="block">
  {#
  {{ if eq .Type "blog" }}
    <div class="single__title">
      {{ .Title }}
    </div>
    <div class="single__meta">
      {{ partial "main/component/article-meta.html" . }}
    </div>
  {{ end }}
  #}

  <article class="single__contents" data-dir="ltr">
    {{ page.content | safe }}
  </article>


</div>