
<div class="mid">
  <div class="divider">

    <nav id="list-menu" class="l" data-dir="ltr">
        {% include "main/page/list-menu.html" %}
    </nav>

    <article id="list-main" class="m" data-dir="ltr">
      {% include "main/component/toggle-sidebar.html" %}
      {% include "main/page/list-main.html" %}
    </article>

    <section id="list-side" class="r" data-dir="ltr">
        {% include "main/page/toc.html" %}
    </section>


  </div>
</div>



