<div class="toc">
  <h6 class="toc__label">What's on this Page</h6>
  <div class="toc__body">
      <ul>
          {% for h1 in page.toc %}
          <li>
              <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
              {% if h1.children %}
              <ul>
                  {% for h2 in h1.children %}
                  <li>
                      <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                  </li>
                  {% endfor %}
              </ul>
              {% endif %}
          </li>
          {% endfor %}
      </ul>
  </div>
</div>