
<script src={{ get_url(path="js/theme.js") }}></script>
<script src={{ get_url(path="js/enquire.min.js") }}></script>
<script src={{ get_url(path="js/dark_mode.js") }}></script>
<script src={{ get_url(path="js/navbar.js") }}></script>
<script src={{ get_url(path="js/drawer.js") }}></script>
<script src={{ get_url(path="js/single.js") }}></script>

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"
        onload="

    function katexrender()
    {
        renderMathInElement(
            document.body,
            {
              delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '\\[', right: '\\]', display: true},
                    {left: '$', right: '$', display: false},
                    {left: '\\(', right: '\\)', display: false}
                ]
            }
        );
    }

    katexrender()
    ">
</script>

