<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
{#
{{ $main_options := (dict "targetPath" "css/main.css" "outputStyle" "compressed") }}
{{ $main_template := resources.Get "sass/main.scss" }}
{{ $main_style := $main_template | resources.ExecuteAsTemplate "main_parsed.scss" . | toCSS $main_options | resources.Minify }}

<link rel="stylesheet" href="{{ $main_style.RelPermalink }}">
#}

<link rel="stylesheet" href="{{ get_url(path="main.css") }}">

{#
{{ if .Site.Params.custom_css }}
{{ range .Site.Params.custom_css }}
{{ $custom_template := resources.Get . }}
{{ if $custom_template }}
{{ $custom_style := $custom_template | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $custom_style.RelPermalink }}">
{{ end }}
{{ end }}
{{ end }}
#}