<nav class="nav">
  <div class="navbar__wrapper" data-bgimg="false">
    <div class="divider">
      <div class="navbar lmr">

        <div class="navbar__menu--wrapper">

          {% include "navbar/menu/navbar-menu-mobile.html" %}
          <ul id="navMenu" class="navbar__menu">
            {% include "navbar/menu/navbar-menu.html" %}
          </ul>
        </div>
        <div class="grow"></div>
        <div id="siteSearch">
            {% include "navbar/search/site-search.html" %}
        </div>
        <div id="mobileSearch" class="hide">
            {% include "navbar/search/site-search-mobile.html" %}
        </div>
        {% include "navbar/icon/navbar-icons.html" %}
      </div>
    </div>
  </div>
</nav>
