{% if config.extra.enablefooter %}
<div class="bot">
  <footer class="footer">
    <div class="divider">
      <div class="lmr">
          <p class="caption">
              ©{{now() | date(format="%Y")}}, All Rights Reserved
          </p>
          <p class="caption">Powered by <a href="https://www.getzola.org/" rel="noreferrer">Zola</a></p>
      </div>
    </div>
  </footer>
</div>
{% endif %}