{% import "svg/search.html" as search %}
{% import "svg/cancel.html" as cancel %}

{% if config.extra.enablesearch %}
<div id="mobileSearchBtn" class="mobile-search__btn">
  {{ search::search(width=22, height=22) }}
</div>

<div id="search-mobile-container" class="mobile-search hide">
  <div class="mobile-search__top">
    <input id="search-mobile" type="text" aria-label="Mobile Search" placeholder="Search..." class="mobile-search__top--input"/>
    <div id="search-mobile-close" class="mobile-search__top--icon">
     {{ cancel::cancel(width=22, height=22) }}
    </div>
  </div>
  <div id="search-mobile-results" class="mobile-search__body">
    
  </div>
</div>
{% endif %}