{% import "svg/search.html" as search %}

{% if config.extra.enablesearch %}

<div class="search" data-bgimg="false">
  <span class="icon">
    {{ search::search(width=22, height=22) }}
  </span>
  <input id="search" aria-label="Site Search" class="input" type="text" autocomplete="off" placeholder="Search">
  <div id="search-results" class="dropdown">
    <div id="search-menu" class="dropdown-menu">
    </div>
  </div>
</div>

{% endif %}