{% import "svg/search.html" as search %}
{% import "svg/cancel.html" as cancel %}
{% import "svg/lightmode.html" as lightmode %}
{% import "svg/darkmode.html" as darkmode %}

<!DOCTYPE html>
<html lang="en" dir="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    {% include "head/styles.html" %}

</head>
<body id="root" class="theme__{{ config.extra.theme_options.0}}">



    <div id="container">
        {% include "navbar/navbar.html" %}
        {% block header %}
        {% endblock header %}
        {% block main %}
        {% endblock main %}
        {% include "footer/footer.html" %}
    </div>

    {% include "head/scripts.html" %}
</body>


</html>