{% macro header() %}
    <div class="navbar-container">
        <nav class="navbar">
            <a href="https://www.rust-lang.org/">
                <img src="{{config.base_url}}images/rust-logo-blk.svg" alt="" height="inherit"
                id="rust-logo">
            </a>
            <div id="navbarMenu" class="navbar-menu">
            {#
                <form id="navbar-search-label-container" class="navbar-search-label-container">
                    <div id="navbar-search-icon" class="navbar-search-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z">

                            </path>
                        </svg>
                    </div>
                    <input id=navbar-search-label class="navbar-search-label" type="text"
                    class="md-search__input" name="query"
                    aria-label="Search"
                     placeholder="Search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" >
                </form>
                <div class="navbar-repo">
                    <a href="{{ config.extra.repository }}">
                        Repository
                    </a>
                </div>
               #}
            </div>
        </nav>
    </div>

    <div id="search-container" class="search-container">
        <div class="search-inner">
            <form class="search-form">
            <label class="search-icon" for="__search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z">

                    </path>
                </svg>
            </label>
            <input id="search-input" class="search-input" name="query" aria-label="Search"
            placeholder="Search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" >

                <button id="search-reset" class="search-reset-icon" aria-label="Clear">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg>
                </button>
        </form>
        <div class="search-output">
            <div class="search-scrollwrap">
                <div class="search-result">
                    <div class="search-result-meta">
                        Type to start searching
                    </div>
                    <ol class="search-result-list"></ol>
                </div>
            </div>
            </div>
        </div>
    </div>



{% endmacro header %}