
{% macro gen_crumbs(trace) %}
{% set current_path = trace | first %}

{% if current_path is containing("_index.md") %}
{% set current = get_section(path=current_path) %}
{% else %}
{% set current = get_page(path=current_path) %}
{% endif %}

{% set length = trace | length %}

{% if length > 1 %}
<ul class="menu__list active">
    <li class="active">
        <a href="{{ current.permalink }}" class="menu__title active">
            <strong>{{ current.title }}</strong>
        </a>

        {% if length >= 2 %}
        {% set sub_section = trace | slice(start=1) %}
        {{ self::gen_crumbs(trace=sub_section) }}

        {% endif %}

    </li>
</ul>
{% else %}
<ul class="menu__list active">
    <li class="active">
        <a id="nav-active" href="{{ page.permalink }}" class="menu__title highlighted">
            <strong>{{ current.title }}</strong>
        </a>
    </li>
</ul>
{% endif %}



{% endmacro gen_crumbs %}

{% macro funca(a) %}
{{ a }}
{% endmacro funca %}

{% macro generate(page) %}
{% set trace = page.ancestors | slice(start=1) %}
{% set trace = trace | concat(with=page.relative_path) %}
{{ self::gen_crumbs(trace=trace) }}
{% endmacro generate %}

{% macro gen_subsections(section_paths)%}

{% if section_paths | length() > 0 %}
<ul class="menu__list active">
    {% for section_path in section_paths %}
    {% set section = get_section(path=section_path) %}
    <li class="active" >
        <a href="{{ section.permalink }}" class="menu__title active">
            <strong>{{ section.title }}</strong>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro gen_subsections %}



