
{% macro gen_crumbs(trace) %}
{% set current_path = trace | first %}
{% set current = get_section(path=current_path) %}
{% set length = trace | length %}

{% if length > 1 %}
    <ul class="menu__list active">
        <li class="active">
            <a class="menu__title active" href="{{ current.permalink }}">
                <strong>{{ current.title }}</strong>
            </a>

            {% if length >= 2 %}
            {% set sub_section = trace | slice(start=1) %}
            {{ self::gen_crumbs(trace=sub_section) }}
            {% endif %}
        </li>
    </ul>
{% else %}
    <ul class="menu__list active" >
        <li class="active">
            <a class="menu__title highlighted" href="{{ section.permalink }}" >
                <strong>{{ section.title }}</strong>
            </a>
        </li>
        <li class="active">
        {{ self::gen_subsections(section_paths=current.subsections) }}
        {{ self::gen_pages(pages=current.pages) }}
        </li>
    </ul>
{% endif %}

{% endmacro gen_crumbs %}

{% macro generate(section) %}
    {% set trace = section.ancestors | slice(start=1) %}
    {% set trace = trace | concat(with=section.relative_path) %}
    {{ self::gen_crumbs(trace=trace) }}
{% endmacro generate %}

{% macro gen_pages(pages) %}
    {% if pages | length() > 0 %}
    <ul class="menu__list active">
        {% for page in pages %}
        <li class="active">
            <a class="menu__title active" href="{{ page.permalink }}" >
                <strong>{{ page.title }}</strong>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro gen_pages %}


{% macro gen_subsections(section_paths)%}
{% if section_paths | length() > 0 %}
<ul class="menu__list active">
    {% for section_path in section_paths %}
        {% set section = get_section(path=section_path) %}
        <li class="active" >
            <a class="menu__title active" href="{{ section.permalink }}">
                <strong>{{ section.title }}</strong>
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro gen_subsections %}

