{% import "svg/lightmode.html" as lightmode %}
{% import "svg/darkmode.html" as darkmode %}

{% if config.extra.enabledarkmode %}
<button id="toggleToDark" class="navbar__icons--icon" aria-label="Toggle to dark mode">
  {{ lightmode::lightmode(width=20, height=20) }}
</button>
<button id="toggleToLight" class="navbar__icons--icon" aria-label="Toggle to light mode">
  {{ darkmode::darkmode(width=20, height=20) }}
</button>
<script>
  var theme = localStorage.getItem('theme');
  var toggleToLightBtn = document.getElementById('toggleToLight');
  var toggleToDarkBtn = document.getElementById('toggleToDark');

  if (theme && theme === 'dark') {
    toggleToLightBtn.className = 'navbar__icons--icon';
    toggleToDarkBtn.className = 'hide';
  } else {
    toggleToLightBtn.className = 'hide';
    toggleToDarkBtn.className = 'navbar__icons--icon';
  }
</script>
{% endif %}