<div class="navbar__icons">

  {#{{ partial "navbar/icons/select-lang.html" . }} #}
  {% include "navbar/icon/light-dark-toggle.html" %}

  <div class="navbar__icons--icon">
    {#
    <a href="{{ .Site.Params.github }}" title="Github repository" aria-label="Github repository" target="_blank" rel="noreferrer">
    {{ partial "svg/github.svg" (dict "width" 22 "height" 22) }}
    </a>
    #}
  </div>

</div>



